:root{
    --Trip-blue : #0051D3;
    --Trip-lemon : #FFDA00;
}

body{
   font-size: 1rem;
}
a{
    color: #111;
    text-decoration: none;
}

.d-none{
    display: none;
}
.d-flex{
    display: flex;
}


.container{
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
}

.trip-bl{
    background-color:var(--Trip-blue);
}
.color-active-blue{
    color:var(--Trip-blue);
}

.w-0{
    width: 0 !important;
    
}
