@font-face {
    font-family: 'TheJamsil100';
    src: url('../font/The_Jamsil/The\ Jamsil\ 1\ Thin.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil300';
    src: url('../font/The_Jamsil/The\ Jamsil\ 2\ Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil400';
    src: url('../font/The_Jamsil/The\ Jamsil\ 3\ Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil500';
    src: url('../font/The_Jamsil/The\ Jamsil\ 4\ Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil700';
    src: url('../font/The_Jamsil/The\ Jamsil\ 5\ Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil800';
    src: url('../font/The_Jamsil/The\ Jamsil\ 6\ ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

:root{
     /* Color styles */
    --trip-blue : #0051D3;
    --trip-yellow : #FFDA00;
    --trip-white : rgba(255, 255, 255, 1);
    --trip-gray1: rgba(181, 181, 181, 1);
    --trip-gray2: rgba(217, 217, 217, 1);
    --trip-black: rgba(17, 17, 17, 1);
    --trip-skyblue: rgba(171, 198, 240, 1);

    /* Text-size styles */
    --main-slide: 64px;
    --section-title: 28px;
    --section-subtitle-menu: 20px;
    --section: 14px;
    --m-section-subtitle: 20px;
    --m-title: 20px;
    --m-mainbanner-en: 12px;
    --m-text: 12px;
    --menu: 20px;

    --huge-text: 48px;
    --big-text: 40px;
    --semibig-text: 32px;
    --medium-text: 24px;
    --semismall-text: 20px;
    --small-text: 16px;

    /* Font style */
    --theJamsil-thin: 'TheJamsil100';
    --theJamsil-light: 'TheJamsil300';
    --theJamsil-regular: 'TheJamsil400';
    --theJamsil-medium: 'TheJamsil500';
    --theJamsil-bold: 'TheJamsil700';
    --theJamsil-extrabold: 'TheJamsil800';
}

body{
   font-size: 1rem;
}

.trip-bl{
    background-color:var(--Trip-blue);
}
.color-active-blue{
    color:var(--Trip-blue);
}

.container{
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
}

/* flex 관련 */
.d-none{
    display: none;
}
.d-flex{
    display: flex;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-end{
    align-items: end;
}
.align-items-center{
    align-items: center;
}
.align-items-stretch{
    align-items: stretch;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}

/* 넓이 관련 */
.mx-auto{
    margin: 0 auto;
}
.w-0{
    width: 0;   
}
.gap-3{
    gap: 1rem;
}

/* 포지션 */
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.sticky{
    position: sticky;
}
.fix{
    position: fixed;
}

