:root{
     /* Color styles */
    --Trip-blue : #0051D3;
    --Trip-lemon : #FFDA00;
    --trip_yellow: rgba(255, 218, 0, 1);
    --trip_blue: rgba(0, 81, 211, 1);
    --trip_gray1: rgba(181, 181, 181, 1);
    --trip_gray2: rgba(217, 217, 217, 1);
    --trip_black: rgba(17, 17, 17, 1);
    --trip_skyblue: rgba(171, 198, 240, 1);

    /* Text-size styles */
    --main-slide: 64px;
    --section-title: 28px;
    --section-subtitle-menu: 20px;
    --section: 14px;
    --bigtext: 40px;
    --m_section-subtitle: 20px;
    --m_title: 20px;
    --m_mainbanner_en: 12px;
    --m_text: 12px;
    --menu: 20px;
}

body{
   font-size: 1rem;
}

.trip-bl{
    background-color:var(--Trip-blue);
}
.color-active-blue{
    color:var(--Trip-blue);
}

.container{
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
}

/* flex 관련 */
.d-none{
    display: none;
}
.d-flex{
    display: flex;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-end{
    align-items: end;
}
.align-items-center{
    align-items: center;
}
.align-items-stretch{
    align-items: stretch;
}

/* 넓이 관련 */
.w-0{
    width: 0;   
}
