#hd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}
#hd #user {
  font-size: var(--m-text);
}
#hd #menu a {
  font-size: var(--semismall-text);
  font-family: var(--theJamsil-medium);
}
#hd .search {
  border-radius: 0.75rem 0.3125rem 0.3125rem 0.75rem;
  border: 2px solid #0051D3;
}
#hd .logo img {
  width: 12.18431rem;
  height: 3.375rem;
}
#hd #hb-submenu {
  width: 400px;
  height: 100vh;
  align-items: flex-start;
  background-color: #fff;
  left: 0;
  top: 0;
}
#hd #hb-submenu hr {
  margin-left: -1rem;
  margin-right: -1rem;
}
#hd #hb-submenu .m-1 {
  font-size: var(--semismall-text);
  font-family: var(--theJamsil-medium);
}
#hd #hb-submenu .social-icon .naver {
  background-color: #03c75a;
  border-radius: 1.5rem;
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
#hd #hb-submenu .social-icon .kakao {
  background-color: #fae100;
  border-radius: 1.5rem;
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
#hd #hb-submenu .social-icon .google {
  border: solid 1px #0051D3;
  border-radius: 1.5rem;
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
#hd #hb-submenu .mainheader {
  background-color: rgba(255, 218, 0, 0.25);
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-top: -10px;
}
#hd #hb-submenu .mainheader .user-box {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#hd #hb-submenu .mainheader .settings {
  margin-top: 40px;
  margin-left: auto;
}
#hd #hb-submenu .mainheader .profileicon {
  margin: 1rem;
  border-radius: 1.5rem;
  background: #9FC1FF;
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
#hd #hb-submenu .mainheader .userprofile {
  margin: auto 0;
  font-size: var(--small-text);
}
#hd #hb-submenu .mainheader .userprofile .hi {
  margin-bottom: 10px;
}
#hd #hb-submenu .mainheader .userprofile .username {
  font-size: var(--semismall-text);
  margin: 0 1rem;
}
#hd #hb-submenu .hb-item {
  font-size: var(--semismall-text);
  font-family: var(--theJamsil-medium);
  margin: 1.5rem;
}
#hd #hb-submenu .hb-item .menu-icon {
  margin-left: 1.5rem;
}
#hd #hb-submenu .hb-item .menu-icon a {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}
#hd #hb-submenu .hb-item .menu-icon a.heart {
  margin-top: 20px;
}
#hd #hb-submenu .hb-item .menu-icon img {
  margin-bottom: 10px;
}
#hd #hb-submenu .hb-list {
  margin: 2.5rem 2.25rem;
}
#hd #hb-submenu .hb-list .color-active-blue {
  margin-bottom: 2.5rem;
  font-family: var(--theJamsil-medium);
}
#hd #hb-submenu .hb-list .color-active-blue img {
  margin-left: 0.5rem;
  margin-top: -2px;
}
#hd #hb-submenu .hb-list .communitymenu li {
  width: 50%;
}
#hd #hb-submenu .hb-list .communitymenu li a {
  font-size: var(--small-text);
  font-family: var(--theJamsil-medium);
}
#hd #hb-submenu .hb-list .communitymenu li .friendfind {
  margin-top: -15px;
}
#hd #hb-submenu .hb-list .hb-sublist div {
  margin-top: 1.5rem;
}
#hd #hb-submenu .hb-list .hb-sublist div a {
  font-family: var(--theJamsil-medium);
}
#hd #hb-submenu .hb-list .hb-sublist .sublist {
  margin-top: 0.5rem;
  row-gap: 0.5rem;
}
#hd #hb-submenu .hb-list .hb-sublist .sublist li {
  width: 50%;
}
#hd #hb-submenu .hb-list .hb-sublist .sublist li a {
  font-size: var(--small-text);
}