@charset "UTF-8";
#ft {
  background-color: #eaeaea;
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
}
#ft .ftcontainer {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  #ft .ftcontainer .ftcontainer {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
}
#ft .ftcontainer .ftlogo {
  max-width: 180px;
  height: auto;
}
#ft .ftcontainer .ftlogo {
  max-width: 350px;
  height: 100px;
  margin: 0px 20px 0px 0px;
}
@media only screen and (max-width: 1024px) {
  #ft .ftcontainer .ftlogo {
    max-width: 230px;
    height: auto;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 768px) {
  #ft .ftcontainer .ftlogo {
    max-width: 180px;
    height: auto;
  }
}
#ft .footer_menu {
  font-size: var(--small-text);
  font-weight: 700;
  color: var(--trip-black);
}
#ft .footer_menu ul {
  margin: 30px 0px 20px 50px;
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 1024px) {
  #ft .footer_menu ul {
    margin: 20px 0px 20px 20px;
    gap: 20px;
    font-size: var(--desc-text);
  }
}
#ft .footer_menu > div {
  display: flex;
  width: 100%;
}
#ft .company_info {
  margin: 20px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  font-size: var(--desc-text);
}
#ft .company_id {
  margin: 20px 50px 0px 50px;
  flex-direction: column;
  font-size: var(--m-small-text);
}
#ft .company_id i,
#ft .company_info i {
  font-style: normal; /* <i>의 기본 기울임꼴 제거 */
  display: block;
}
#ft .company_info b,
#ft .company_info i {
  margin-bottom: 8px;
}
#ft .company_id i {
  margin-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  #ft .ftcontainer {
    width: 90%;
    height: auto;
  }
  #ft .ftlogo {
    max-width: 180px;
    height: auto;
  }
  #ft .footer_menu ul {
    margin: 20px 0px 20px 10px;
    gap: 20px;
    font-size: var(--desc-text);
  }
  #ft .company_info {
    margin: 20px 20px 0px 10px;
    font-size: var(--m-small-text);
  }
  #ft .company_id {
    margin-top: 20px;
    font-size: var(--m-small-text);
  }
}

@media only screen and (max-width: 575px) {
  #ft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .ftcontainer {
    width: 80%;
    height: auto;
    display: flex;
  }
  .ftlogo {
    max-width: 150px;
    height: auto;
    margin-left: 20px;
  }
  .footer_menu ul {
    margin: 20px 0px 20px 20px;
    gap: 20px;
    font-size: var(--m-small-text);
    font-weight: bold;
    color: var(--trip-black);
  }
  .company_info {
    margin: 20px;
    font-size: var(--m-small-text);
  }
  .company_id {
    margin: 20px;
    font-size: var(--m-small-text);
  }
  .ftcontainer .d-flex {
    display: block;
  }
  div.company_info b {
    font-weight: normal;
  }
}